<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>充值</title>
    <!--先引入vue.js库-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link href="css/common.css" rel="stylesheet" />
    <link href="css/register.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="script/jquery.min.js"></script>
    <script type="text/javascript" src="script/common.js"></script>
    <script src="script/login.js" type="text/javascript"></script>
    <style>
        body{
            background-image:url(images/chongz.JPG);
            background-repeat:no-repeat;
            background-size:100% 100%;
        }
        #app{
            height: 390px;
            margin-top: 50px;
            margin-left: 110px;

        }
        #ye,#cz{
            color:blue;
            font-size: 18px;
            display: inline-block;
            line-height: 70px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-row>
        <div id="ye">您当前的余额为:</div>
        <el-input  v-model="input" readonly style="width: 100px;margin-left:6px;"></el-input>
    </el-row>
    <el-row>
        <div id="cz">请选择充值金额:</div>
        <!--<el-form :model="payForm"  ref="payForm"label-width="100px" class="demo-ruleForm" >-->
        <el-form :inline="true" :model="formInline" :rules="czrules"ref="formInline" class="demo-form-inline">
            <el-form-item label="充值金额" prop="money">
                <el-input v-model="formInline.money" placeholder="选择充值金额" style="width:260px;"></el-input>
            </el-form-item>
        </el-form>
    </el-row>
    <el-row>
        <el-button style="margin-left: 290px" type="primary" @click="paySubmit('formInline')">充值</el-button>
    </el-row>
    <!--支付密码输入-->
    <el-dialog title="请输入支付密码" :visible.sync="dialogVisible" height="260px" width="40%" :before-close="handleClose">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="80px" class="demo-ruleForm">
        <el-form-item label="支付密码" prop="payPassword">
            <el-input type="password" v-model="ruleForm.payPassword" placeholder="请输入支付密码" style="width: 220px;"></el-input>
        </el-form-item>
        </el-form>
    <el-button @click="close">取 消</el-button>
    <el-button type="primary" @click="pay">确 定</el-button>
  </span>
    </el-dialog>
</div>
<script>
    let m = (rule, value, callback) => {
        if (value <=0) {
            callback(new Error('请充值有限的金额'));
        } else {
            callback();
        }
    };
    var vue=new Vue({
        el:'#app',
        data:{
            dialogVisible:false,
            input:'',
            formInline:{
                money: ''
            },
            czrules:{
                money:[
                    { required: true, message: '充值金额不能为空',trigger: 'blur'},
                    {pattern: /^\d+\.\d{1,2}$/, message: '请输入合法的充值金额,例：100.0',trigger: 'blur'},
                ]
            },
            ruleForm:{},
            cid:'',
            cname:''
        },
        created:function () {
            this.load();
        },methods:{
            load:function(){
                var self=this;
                axios.post('/withdraw/queryMoney')
                    .then(function (response) {
                        self.input=response.data.totalMoney;
                        cid=response.data.cid;
                        cname=response.data.cname;
                    })
            },
            close:function(){
                this.dialogVisible=false;
                this.ruleForm={};
            },
            paySubmit:function(formInline){
                var _this=this;
                this.$refs[formInline].validate((valid) => {
                    if (valid) {
                this.dialogVisible=true;
                    } else {
                        _this.$message.error('请填写完整的表单');
                        return false;
                    }
                });
            },
            pay:function() {
                var _this=this;
                this.dialogVisible=false;
                    if (this.ruleForm.payPassword!=null&&this.ruleForm.payPassword!=""&&this.formInline.money!=null&&this.formInline.money!=""){
                        //要充值的金额
                        var money=this.formInline.money;
                        //当前的金额
                        var inMoney=this.input;
                        var allM=parseInt(money)+parseInt(inMoney);
                        axios.post('/withdraw/saveMoney',{totalMoney:allM,reMoney:money,cid:cid,cname:cname,payPassword:this.ruleForm.payPassword}).then(function (response) {
                            var code =response.data.code;
                            if (code==200) {
                                _this.$message({
                                    message: '恭喜你，充值成功',
                                    type: 'success'
                                });
                            }
                            if (code==300){
                                _this.$message({
                                    message: '请输入正确的支付密码',
                                    type: 'warning'
                                });
                            }
                            if (code==400){
                                _this.$message({
                                    message: '充值失败',
                                    type: 'error'
                                });
                            }
                            _this.load();
                            _this.ruleForm={};
                        })
                    }else {
                        _this.$message({
                            message: '请填写完整信息',
                            type: 'warning'
                        });
                    }
            },


        }
    });
</script>
</body>
</html>