<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>充值</title>
    <!--先引入vue.js库-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link href="css/common.css" rel="stylesheet" />
    <link href="css/register.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="script/jquery.min.js"></script>
    <script type="text/javascript" src="script/common.js"></script>
    <script src="script/login.js" type="text/javascript"></script>
    <style>
        body{
            background-image:url(images/chongz.JPG);
            background-repeat:no-repeat;
            background-size:100% 100%;
        }
        #app{
            height: 390px;
            margin-top: 50px;
            margin-left: 110px;

        }
        #ye,#cz{
            color:blue;
            font-size: 18px;
            display: inline-block;
            line-height: 70px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-row>
        <div id="ye">您当前的余额为:</div>
        <el-input  v-model="input" readonly style="width: 100px;margin-left:6px;"></el-input>
    </el-row>
    <el-row>
        <div id="cz">请选择充值金额:</div>
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item>
                <el-select v-model="formInline.money" placeholder="选择充值金额" style="position:fixed;left:250px;top:134px;">
                    <el-option label="请选择" value=""></el-option>
                    <el-option label="1000" value="1000"></el-option>
                    <el-option label="2000" value="2000"></el-option>
                    <el-option label="3000" value="3000"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
    </el-row>
    <el-row>
        <el-button style="margin-left: 290px" type="primary" @click="pay">充值</el-button>
    </el-row>
</div>
<script>
    var vue=new Vue({
        el:'#app',
        data:{
            input:'',
            formInline:{
                money:''
            },
            cid:'',
            cname:'',
            payPassword:''
        },
        created:function () {
            this.load();
        },methods:{
            load:function(){
                var self=this;
                axios.post('/withdraw/queryMoney')
                    .then(function (response) {
                        self.input=response.data.totalMoney;
                        cid=response.data.cid;
                        cname=response.data.cname;
                    })
            },
            pay:function() {
                this.$alert('<strong><input type="password" id="password"/></strong>', '请输入支付密码', {
                    dangerouslyUseHTMLString: true
                });
                this.load();
                if (this.payPassword==$("#password").val()){
                    if (this.payPassword!=null||this.payPassword==""){
                        //要充值的金额
                        var money=this.formInline.money;
                        //当前的金额
                        var inMoney=this.input;
                        var allM=parseInt(money)+parseInt(inMoney);
                        axios.post('/withdraw/saveMoney',{totalMoney:allM,reMoney:money,cid:cid,cname:cname}).then(function (response) {
                            vue.$message({
                                message: '恭喜你，充值成功',
                                type: 'success'
                            });
                            this.load();
                        })
                    }else {
                        alert("cuow")
                    }
                }else{
                    alert("支付密码错误");
                }
            },

        }
    });
</script>
</body>
</html>