<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.ysemm.manage.dao.AuditDao">
    <!--size 缓存个数-->
    <cache type="org.mybatis.caches.redis.RedisCache" size="1024" flushInterval="0" readOnly="true" eviction="FIFO"></cache>
    <select id="selectloans" resultType="map">
        select
        l.*,c.*,p.*,g.*,g.sex AS sex1,g.IDCard AS IDCard1, g.telephone AS telephone1,g.address AS address1
        from loans l
        LEFT JOIN company c on l.loan_cid=c.cid
        LEFT JOIN pledge p on l.pledge_id=p.id
        LEFT JOIN guarantor g ON l.guarantor_id=g.gid
        <where>
           <if test="parameter!=null and parameter!=''">
            and (l.loan_id like "%"#{parameter}"%"
            or c.cname like "%"#{parameter}"%"
            or l.loan_money like "%"#{parameter}"%"
            or p.pledge_name like "%"#{parameter}"%"
            or g.gname like "%"#{parameter}"%"
            or date_format(l.apply_time,'%Y-%m-%d %H:%i:%s') like "%"#{parameter}"%")
           </if>
            and l.loans_status=0
        </where> limit ${start},${pagesize}
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(*) from loans l where l.loans_status=0
    </select>
</mapper>
