<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:命名空间：对应的dao接口的名字-->
<mapper namespace="com.aaa.ysemm.customer.dao.EmpMapper">
    <sql id="emp">
        <where>
            <if test="ename !='' and ename!=null">
               and e.ename like concat('%',#{ename},'%')
            </if>
            <if test="deptno !=null and deptno !=''">
               and e.deptno = #{deptno}
            </if>
        </where>
    </sql>
    <select id="getEmp" resultType="Emp">
        select e.*,d.dname from emp as e left join dept as d  on e.deptno=d.deptno
       <include refid="emp" />
       limit #{start},#{count}
    </select>
    <!--获取总数-->
    <select id="getCount" resultType="Integer">
    select count(*) from emp e left join dept d on e.deptno=d.deptno
    <include refid="emp"></include>
    </select>
    <!--获取员工信息-->
    <select id="getDept" resultType="Dept">
        select * from dept
    </select>
    <!--根据信息查询该员工信息-->
    <select id="getUpdateEmp" resultType="Emp">
        select e.*,d.dname from emp as e left join dept as d  on e.deptno=d.deptno
        where e.empno=#{empno}
    </select>
<!--更改操作-->
    <update id="updateEmp">
        update emp set ename=#{ename},sex=#{sex},job=#{job},deptno=#{deptno},hiredate=#{hiredate}
        where empno=#{empno}
    </update>
    <!--添加操作-->
    <insert id="insertEmp">
        insert into emp(empno,ename,job,sex,deptno,hiredate)
        values(0,#{ename},#{job},#{sex},#{deptno},#{hiredate})
    </insert>
    <!--删除操作-->
    <delete id="deleteEmp">
        delete from emp where empno=#{empno}
    </delete>
</mapper>
