<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:命名空间：对应的dao接口的名字-->
<mapper namespace="com.aaa.ysemm.customer.dao.HomeMapper">
    <select id="getCompany" resultType="map">
            SELECT cname,pname,telephone,sex,address,phone from company  where uid=#{uid}
    </select>

    <!--添加借款信息-->
    <insert id="insertBorrow">
    insert  into loans(loanCid,loanMoney,loanType,pledgeId,applyTime,repaymentType,repaymentTime,repaymentRate)
    values(#{loanCid},#{loanMoney},#{loanType},#{pledgeId},#{applyTime},#{repaymentType},#{repaymentTime},#{repaymentRate},)
    </insert>
    <!--添加抵押物品信息-->
    <insert id="insertPledge" useGeneratedKeys="true" parameterType="int" keyColumn="id">
      insert into poledge(pledge_name,valuation,pledge_type,description) values(#{pledgeName},#{valuation},#{pledgeType},#{description})
    </insert>

</mapper>
